@page
<p> News By The Numbers on the Net </p>

    <div class="col-md-3">
        @await  Component.InvokeAsync("Articles")
    </div>

   <div class="col-md-3">
        @await  Component.InvokeAsync("Articles")
    </div>

 <div class="col-md-3">
        @await  Component.InvokeAsync("Articles")
    </div>

